* {
    margin: 0;
    padding: 0;
    background-color: #FFFFEE;
}

body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #FFFFEE;
    font-size: 14px;
}

header {
    background-color: white;
}

nav {
    text-align: center;
}

nav ul li {
    margin: 0 10px;
    display: inline-block;
}

nav ul li a {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

nav ul li a.selected {
  color: #000;
}

#logo {
    max-width: 200px;
    border: 5px solid #fff;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
	height:0;
	border:0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #fff;
}

section {
    text-align: center;
}

.link {
    font-weight: bolder;
}

footer {
    text-align: center;
}